body{
	font-family: roboto;
	font-style: 13px;
	color: #333;
	line-height: 23px;
}
#wrapper{
	width: 960px;
	margin: 0 auto;
}
#header, #footer{
	padding: 15px 10px;
	background: gray;
}
#header{
	position: relative;
}
#logo{
	float: left;
}
.icon-menu-responsive{
	float: right;
	position: absolute;
	right: 0px;
	display: none;
	color: #ffffff;
	font-size: 25px;
}
#main-menu{
	float: right;
}
#main-menu li{
	float: left;
	padding:0 10px;
	
}
#main-menu li a{
	font-size: 20px;
	color: #ffffff;
}
#main-menu li:hover a{
	text-decoration: underline;
}
.icon-menu-responsive{
	float: right;
}
#respon-menu{
	margin-top: 15px;
	display: none;
}
#respon-menu li a{
	font-size: 20px;
	color: #ffffff;
	border-top:1px solid #333;
	padding: 5px 5px;
	display: block;
}
#content, #sidebar{
	min-height: 600px;
	padding:10px;
}
#content{
	width: 70%;
	float: left;
	background: #f5f5f5;
}
#sidebar{
	width: 30%;
	float: right;
	background: #d5d5d5;

}
